.start-container{
    width: 85%;
    height: 95%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.start-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    justify-content: space-around;   
}

.login-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}