.test-containerG{
    width: 85%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    justify-content: space-between;
}

.test-combat{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
}

.mobs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
}

.p1G{
    width: 7rem;
    min-height: 7rem;
    background-color: blue;
}

.p2G{
    width: 7rem;
    min-height: 7rem;
    background-color: red;
}

.info-container{
    width: 100%;
    height: 12rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.frise{
    width: 100%;
    height: 6rem;
    background-color: aqua;
}
.info{
    width: 7rem;
    min-height: 7rem;
    background-color: blue;
}